<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Bias</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav class="jumbotron">
      <h1>News Fairy</h1>
      <h3>Get the Bias Out of Your News</h3>
    </nav>

    <section class="container">
        <div class="row">
            <div class="col-md-12 subtitle">
                <h3 class="georgia"> Choose two news sources to compare how each chooses to deliver news. </h3>
                <h4 class="georgia"> Only you can sort out the truth!</h4>
                <a href="source.html" class="hred">View all news sources</a>
            </div>
        </div>

        <div class="row main-section">
            <div class="col-me-12 small-container">
                <div class="row top-row-checkbox">
                    <div class="col-md-2">
                        <h4>COMPARE</h4>
                    </div>
                    <div class="col-md-4">
                        <form class="form " action="">
                            <select class="select form-control" id="select-one"  value="News Sources"> 
                                <option value="option"> Choose your news source</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-md-2 and">
                            <h4>and</h4>
                        </div>
                    <div class="col-md-4">
                        <form class="form" action="">
                            <select class="select form-control" id="select-two"  value="News Sources"> 
                                <option value="option"> Choose your news source</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <h5>TOPIC (optional)</h5> 
                    </div>
                    <div class="col-md-5">
                        <input id="topic-input" class="user-input form-control" type="text">
                        <div type="submit" id="input-button" class="btn">Submit</div>
                        <div id="reset" class="btn">Reset</div>
                    </div>
                    
                    <div class="col-md-5">

                    </div>
                </div>
            </div>
            <div class="row results">
                <div id="first" class="col-md-6">
                   
                </div>

                <div id="second" class="col-md-6">
                </div>
            </div>
        </div>
           
        <!-- Maybe maket socket.io comments place -->

    <div class="push"></div>
    </section>

    <footer class="footer">
        <h6>Created by Cameron Tharp | News API Powered by <a href="https://newsapi.org/">NewsAPI.org</a></h6>
    </footer>
        
    
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="js/keys.js"></script>
    <script src="js/ajax.js"></script>
</body>
</html>