
.jumbotron{
    text-align: center;
    font-family: chunkfive;
    border-bottom: solid rgb(140,23,34);
}

.subtitle {
    text-align: center;
}

.georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-section {
    border: solid #999;
    /* height: 500px; */
}

.small-container{
    margin: 40px;
}

#input-button {
    border: solid rgb(140,23,34);
}

#reset {
    border: solid rgb(140,23,34);
}

.top-row-checkbox{
    margin-bottom: 20px;
}

.and {
    text-align: center;
}

.user-input {
    /* width: 40%; */
    margin-bottom: 20px;
}

.results {
    margin: 40px;
}

.img-dynamic img{
    width: 50%;
}

.footer {
    text-align: center;
    border-top: solid rgb(140,23,34);
}

/* sticky footer */

html, body {
    height: 100%;
    margin: 0;
  }
  .container {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }